* {
    margin: 0;
    padding: 0;
    
}

.img-logo-menu{
    height: 150px;
    margin-left: 50px;
}

.nav-bg-color{
    background-color: #24ca3d !important;
    height: 100px;
}

.nav-item{
    text-black 
}

.carousel-inner {
    height: 400px;
}

.carousel-item img {
    width: 100%;
    max-height: 460px;}


.navfooter {
    background: linear-gradient(90deg, #24ca3d, #367331 35%, #24ca3d 100%);
    padding: 0 170px 0 170px;
}



